# Replace the default kubeProxy installation. Required for Gateway API to work.
kubeProxyReplacement: true

# Roll out Cilium pods when the ConfigMap is updated.
rollOutCiliumPods: true

# Talos specific
# https://www.talos.dev/latest/kubernetes-guides/configuration/kubeprism/
k8sServiceHost: "localhost"
k8sServicePort: 7445

securityContext:
  capabilities:
    ciliumAgent: [ CHOWN, KILL, NET_ADMIN, NET_RAW, IPC_LOCK, SYS_ADMIN, SYS_RESOURCE, DAC_OVERRIDE, FOWNER, SETGID, SETUID ]
    cleanCiliumState: [ NET_ADMIN, SYS_ADMIN, SYS_RESOURCE ]

cgroup:
  autoMount:
    enabled: false
  hostRoot: "/sys/fs/cgroup"

ipam:
  operator:
    clusterPoolIPv4PodCIDRList: ${pod_cidr_subnet}

# "Talos Linux’s Forwarding kube-dns to Host DNS (enabled by default since Talos
# 1.8+) doesn’t work together with Cilium’s eBPF Host-Routing. To make it work,
# you must set bpf.hostLegacyRouting to true as DNS won’t work otherwise."
# ref: https://docs.cilium.io/en/stable/installation/k8s-install-helm/
bpf:
  hostLegacyRouting: true

hubble:
  enabled: true
  relay:
    enabled: true
    rollOutPods: true
  ui:
    enabled: true
    rollOutPods: true

gatewayAPI:
  enabled: true

# Allows Gateway API to listen on privileged ports (i.e. below 1023)
# ref: https://docs.cilium.io/en/stable/network/servicemesh/gateway-api/gateway-api/#bind-to-privileged-port
envoy:
  enabled: true
  securityContext:
    capabilities:
      keepCapNetBindService: true
      envoy: [ NET_ADMIN, PERFMON, BPF ]

# Allows the creation of services of type `io.cilium/l2-announcer`
# LoadBalancer
l2announcements:
  enabled: true
  leaseDuration: "3s"
  leaseRenewDeadline: "1s"
  leaseRetryPeriod: "200ms"

k8sClientRateLimit:
  qps: 33
  burst: 20

# Allows the creation of services of type `io.cilium/bgp-control-plane`
# LoadBalancer. Only works if the router supports BGP.
bgpControlPlane:
  enabled: true
