.DS_STORE
.envrc
.direnv/
.venv/
.vscode/

.ansible/

.terraform.lock.hcl
.terraform/

terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

output/
secrets/

*.swp
ca.key
node*.key
operator*.key
