machine:
  kubelet:
    nodeIP:
      validSubnets:
        - ${internal_subnet}
    image: "ghcr.io/siderolabs/kubelet:${k8s_version}"
    %{if length(cluster_dns_ips) > 0 }
    clusterDNS:
    %{ for ip in cluster_dns_ips }
      - ${ip}
    %{ endfor ~}
    %{ endif ~}

  network:
    hostname: ${hostname}
    interfaces:
      - interface: eth0
        vip:
          ip: ${vip}
  nodeLabels: ${node_labels}

cluster:
  allowSchedulingOnControlPlanes: true
  network:
    podSubnets:
      - ${pod_cidr_subnet}
    serviceSubnets:
      - ${service_subnet}
    cni:
      name: none
  proxy:
    disabled: true
    # image: "registry.k8s.io/kube-proxy:${k8s_version}"
  apiServer:
    image: "registry.k8s.io/kube-apiserver:${k8s_version}"
  controllerManager:
    image: "registry.k8s.io/kube-controller-manager:${k8s_version}"
  scheduler:
    image: "registry.k8s.io/kube-scheduler:${k8s_version}"
  etcd:
    advertisedSubnets:
      - ${internal_subnet}
    listenSubnets:
      - ${internal_subnet}
  extraManifests: ${extra_manifests}
  inlineManifests: ${inline_manifests}
